<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-主队列.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E83D3221DC0796700784A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E83D33B1DC0796700784A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E83D3461DC0796700784A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
