<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-消息循环.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ECC028F1DB23898003300C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ECC02A81DB23898003300C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ECC02B31DB23898003300C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
