<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img.zcool.cn/community/016497560680586ac7251df83dfd86.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://pic72.nipic.com/file/20150715/20085612_110330297207_2.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img.zcool.cn/community/01af4955d55dda6ac7251df859c74e.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img.zcool.cn/community/015e8a55ed911c32f875a132f6ac40.png</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://www.uimaker.com/uploads/allimg/120801/1_120801005405_1.png</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img5.imgtn.bdimg.com/it/u=4161863746,2198513675&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://graphicdesignjunction.com/wp-content/uploads/2013/04/iOS-app-icons-38.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img.zcool.cn/community/01379256272a6d32f8755701fe125b.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img4.imgtn.bdimg.com/it/u=1637612669,1412180585&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鲨鱼</string>
		<key>icon</key>
		<string>http://img1.imgtn.bdimg.com/it/u=2556852707,2220138060&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>112万</string>
	</dict>
</array>
</plist>
