<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11-Barrier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EBB0ED81DC2F1F600281603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EBB0EF11DC2F1F600281603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EBB0EFC1DC2F1F600281603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
