<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20-SDWebImage显示GIF和下载进度功能.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E5B15E91DD805A500EF7C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5B16021DD805A600EF7C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5B160D1DD805A600EF7C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
